.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 576px;
  height: 348px;
  margin-top: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
  width: 576px;
  height: 280px;
}
.container {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: 488px;
  margin-top: 40px;
}
.ttl {
  width: 576px;
  height: 52px;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #212529;
}
.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8e929a;
  margin-top: 8px;
}
.sendButton {
  background: #3470ff;
  border: none;
  color: #fff;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  cursor: pointer;
  margin: 24 auto;
  cursor: pointer;
}
.input {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: #f7f7f7;
  border: none;
  color: #8e929a;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  transition: background-color 0.2s ease;
}
.input:hover,
.input:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.comment {
  border-radius: 12px;
  padding: 12px 20px 56px;
  width: 576px;
  height: 88px;
  background-color: #f7f7f7;
  border: none;
  transition: background-color 0.2s ease;
}
.comment:hover,
.comment:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.sendButton:hover {
  background: #0b44cd;
}
.notification {
  border-radius: 12px;
  background-color: #f2f4f7;
  color: #8e929a;
  padding: 12px 16px;
  margin-bottom: 16px;
  font-weight: 500;
  animation: fadeIn 0.3s ease-in;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  display: block;
}
.inputDate {
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
  color: #8e929a;
  transition: background-color 0.2s ease;
}
.inputDate:hover,
.inputDate:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}
