.button {
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: #fff;
  color: #101828;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  cursor: pointer;
  margin: 80 auto;
}
.button:hover {
  border-color: #0b44cd;
}
