.container {
  width: 488px;
  height: 180px;
  margin-top: 20px;
}
.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;

  color: #101828;
}
.id {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8e929a;
  margin-left: 16px;
}
.content {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  margin-top: 8px;
}
.price {
  display: inline-block;
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #3470ff;
}
.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  margin-top: 32px;
}
.location {
  height: 16px;
  width: 16px;
  margin-right: 2px;
  padding-top: 2px;
}
