.container {
  width: 924px;
  height: 68px;
  margin-top: 84px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.selectWrapper {
  position: relative;
  width: 204px;
}

.select {
  border-radius: 12px;
  padding: 12px 40px 12px 16px;
  width: 100%;
  height: 44px;
  border: none;
  background-color: #f7f7f7;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8e929a;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border 0.2s ease;
}
.select:hover,
.select:active {
  border: 1px solid #3470ff;
}
.selectIcon {
  position: absolute;
  right: 12px;
  top: 35%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #8e929a;
  transition: color 0.2s ease;
}
.selectIcon:hover,
.selectIcon:active {
  color: rgb(52, 112, 255);
}
.search {
  background: #3470ff;
  border: none;
  color: #fff;
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  display: flex;
  cursor: pointer;
}
.search:hover {
  background: #0b44cd;
}
.mileageRangeContainer {
  display: flex;
  align-items: center;
  width: 320px;
  height: 44px;
  background-color: #f7f7f7;
  border-radius: 12px;
  justify-content: center;
}

.mileageInput {
  width: 160px;
  height: 44px;
  padding: 8px;
  border-radius: 12px;
  border: none;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: border 0.2s ease;
}
.mileageInput:hover,
.mileageInput:active {
  border: 1px solid #3470ff;
}
.mileageSeparator {
  color: #8e929a;
}
