.container {
  margin: 0 auto;
  background-image: url("/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 832px;
  width: 100%;
  overflow: hidden;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

.description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  margin-top: 16px;
}
.text {
  width: 783px;
  height: 204px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.bttn {
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  background: #3470ff;
  border: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}
.bttn:hover {
  background: #0b44cd;
}
