.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px 32px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: max-content;
}
.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  width: 276px;
  height: 374px;
}
.img {
  width: 276px;
  height: auto;
  border-radius: 14px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  margin: 16px 0 8px 0;
  color: #212529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 11px;
}

.content {
  margin: 0;
  flex-grow: 1;
  color: #495057;
  margin-bottom: 12px;
  white-space: pre-line;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  width: 276px;
  height: 40px;
}

.button {
  align-self: flex-end;
  color: #fff;
  background-color: #3470ff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 12px;
  padding: 12px 99px;
  width: 276px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background-color: #0b44cd;
}

.model {
  color: #3470ff;
}
